$font-size:10px;
$default-font-size:16px;
$font-color:#E7E7E7;


$body-bg-color:#EEEEEE;
$app-bg-color:#1A1A1A;
$color-white:#ffffff;
$color-brown:#645745;
$color-black:#000000;

$color-brown-light:#55493A;
$color-brown-dark:#191919;
$color-pill-border-color: #6C5E4A;

$font-size-small:2.5rem;
$font-size-medium:3.5rem;
$font-size-large:7.8rem;

$scrollbarBG: #1A1A1A;
$thumbBG: #E7E7E7;

$margin-top-s:5rem;
$margin-top-m:6rem;
$margin-top-l:20rem;
$margin-top-xl:25rem;

$margin-bottom-s:2.5rem;
$margin-bottom-m:5rem;
$margin-bottom-l:10rem;
$margin-bottom-xl:20rem;

$margin-right-s:2.5rem;
$margin-right-m:5rem;
$margin-right-l:8rem;