
body
{
    letter-spacing:0.01rem;
    line-height:1;
    color:$font-color;
}
h1
{
  font-family: 'Abril Fatface', cursive;
  font-weight: 100;
}
a,span, p, button, input, textarea{
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}